<html>
    <head>
        <title>Page Auteur</title>
    </head>
    <body>
        <!--AUTEUR-->
                <%= @user.name%> <%= @user.last_name%>

                <dl>
                    <dt>Email</dt>
                    <dd><%= @user.email%></dd>
               </dl> 
           
  
        </table>

    
    </body>
</html>
